<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<header class="usa-header usa-header-extended site-header" role="banner">
  {% include banner.html %}
  <div class="usa-navbar site-header-navbar">
    <button class="usa-menu-btn">Menu</button>
      <div class="usa-logo" id="logo">
      <div class="fs-branding">
        <a href="//usda.gov">
          <img alt="United States Department of Agriculture" class="usda-logo" role="img" src="{{ site.baseurl }}/assets/img/us-forest-service/usda.svg">
        </a>
        <a id="us-forest-service-logo" href="{{ site.baseurl }}"><img alt="US Forest Service" class="fs-logo" role="img" src="{{ site.baseurl }}/assets/img/us-forest-service/usfslogo.svg" width="50">
          <div class="fs-name-slogan">
            <span class="fs-name">U.S. FOREST SERVICE</span>
            <span class="fs-slogan">Web Design Standards</span>
          </div>
        </a>
      </div>
    </div>
    {% include download-buttons.html %}
  </div>
  <nav class="usa-nav site-nav-secondary sticky">
    <div class="usa-nav-inner">
      <ul>
        {%
          include nav/list.html
          links=site.data.nav.primary
          rel='contains'
          flat=true
        %}
      </ul>
    </div>
  </nav>
  <div class="usa-overlay"></div>

  <nav role="navigation" class="usa-nav sidenav-mobile">
    <div class="usa-nav-inner">
      <button class="usa-nav-close">
        <img src="{{ site.baseurl }}/assets/img/close.svg" alt="close">
      </button>
      <ul class="usa-sidenav-list usa-accordion">
        {% include nav/sections.html sections=site.data.nav.mobile %}
      </ul>
      {% include download-buttons.html %}
    </div>
  </nav>
</header>
