{% fractal_component alerts--info %}

{% fractal_component alerts--warning %}

{% fractal_component alerts--error %}

{% fractal_component alerts--default %}

{% fractal_component alerts--paragraph %}

<h2>Spinner Alert</h2>
<p>Spinners keep users informed that information is loading.</p>
<h3>Basic spinner</h3>
<div class="centered-container">
  <div class="spinner-container">
    <div class="spinner"></div>
  </div>
</div>

<h3>Spinner with message</h3>
<div class="centered-container">
  <p>Loading please wait.</p>
  <div class="spinner-container">
    <div class="spinner"></div>
  </div>
</div>
