<h6>Primary buttons</h6>
<div class="button_wrapper">
  {% fractal_component buttons--primary %}
</div>

<h6>Primary alt buttons</h6>
<div class="button_wrapper">
  {% fractal_component buttons--primary-alt %}
</div>

<h6>Secondary buttons on dark background</h6>
<div class="button_wrapper">
{% fractal_component buttons--secondary %}
</div>

<h6>Secondary alt buttons</h6>
<div class="button_wrapper">
{% fractal_component buttons--secondary-alt %}
</div>

<h6>Gray buttons</h6>
<div class="button_wrapper">
{% fractal_component buttons--gray %}
</div>

<h6>Red buttons</h6>
<div class="button_wrapper">
{% fractal_component buttons--red %}
</div>

<h6>Secondary buttons on dark background</h6>
<div class="button_wrapper dark-bg">
{% fractal_component buttons--secondary %}
</div>


<h6>Big button</h6>
<div class="button_wrapper">
{% fractal_component buttons--big %}
</div>
