
<h6 class="usa-heading-alt" id="big-footer">Big footer</h6>
{% fractal_component footer--big %}


<h6 class="usa-heading-alt" id="medium-footer">Medium footer</h6>
{% fractal_component footer %}

<h6 class="usa-heading-alt" id="slim-footer">Slim footer</h6>
{% fractal_component footer--slim %}

<h6 class="usa-heading-alt" id="slim-footer">Sticky footer</h6>
<p>Sticky footer should be displayed fixed to the bottom of the viewport.</p>


<h3 class="fs-footer-sticky trees-footer-sticky">
  <span id="trees-footer-sticky-desc-container">
    <span id="trees-footer-sticky-forestname"><b>Forest name</b></span>
    <span class="fs-footer-sticky-label">Pricing information</span>
  </span>
  <span>
    <button class="usa-button">Buy button</button>
  </span>
</h3>
