
<h6 class="usa-heading-alt" id="big-footer">Big footer</h6>
{% fractal_component footer--big %}


<h6 class="usa-heading-alt" id="medium-footer">Medium footer</h6>
{% fractal_component footer %}

<h6 class="usa-heading-alt" id="slim-footer">Slim footer</h6>
{% fractal_component footer--slim %}

<h6 class="usa-heading-alt" id="slim-footer">Sticky footer</h6>
<p>Sticky footer should be displayed fixed to the bottom of the viewport.</p>
<div class="fs-footer-sticky trees-footer-sticky">
  <span>Sticky footer text</span>
  <span>
    <button class="usa-button-primary-alt">Button</button>
  </span>
</div>
