
<h6 class="usa-heading-alt" id="big-footer">Big footer</h6>
{% fractal_component footer--big %}


<h6 class="usa-heading-alt" id="medium-footer">Medium footer</h6>
{% fractal_component footer %}

<h6 class="usa-heading-alt" id="slim-footer">Slim footer</h6>
{% fractal_component footer--slim %}

<h6 class="usa-heading-alt" id="slim-footer">Sticky footer</h6>
<p>Sticky footer should be displayed fixed to the bottom of the viewport.</p>


<h3 class="sticky-bar bottom">
  <span id="sticky-bar-desc-container">
    <span id="sticky-bar-forestname"><b>Forest name</b></span>
    <span class="sticky-bar-label">Pricing information</span>
  </span>
  <span class="sticky-bar-button">
    <button class="usa-button">Buy button</button>
  </span>
</h3>
