<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Specific Metas
================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Title and meta description
================================================== -->
  

<title>Basic header with mega menu | U.S. Forest Service Web Design Standards Documentation</title>
<meta property="og:title" content="Basic header with mega menu | U.S. Forest Service Web Design Standards Documentation">



<meta name="description" content="Design and build fast, accessible, mobile-friendly government websites backed by user research.">
<meta property="og:description" content="Design and build fast, accessible, mobile-friendly government websites backed by user research.">

<meta name="twitter:card" value="summary">
<meta name="twitter:site" content="@USWDS">
<meta property="og:type" content="article">






<link rel="canonical" href="http://localhost:4000/components/headers/basic-mega/">
<meta property="og:url" content="http://localhost:4000/components/headers/basic-mega/">



<!-- Favicons
================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="/fs-fork-uswds-site/assets/img/favicons/favicon.ico">
  <link rel="icon" type="image/png" href="/fs-fork-uswds-site/assets/img/favicons/favicon.png">

  <!-- 192x192, as recommended for Android
  http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
  -->
  <link rel="icon" type="image/png" sizes="192x192" href="/fs-fork-uswds-site/assets/img/favicons/favicon-192.png">

  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="/fs-fork-uswds-site/assets/img/favicons/favicon-57.png">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/fs-fork-uswds-site/assets/img/favicons/favicon-72.png">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/fs-fork-uswds-site/assets/img/favicons/favicon-114.png">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/fs-fork-uswds-site/assets/img/favicons/favicon-144.png">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/fs-fork-uswds-site/css/styleguide.css">

  </head>
  <body class="page-basic-header-with-mega-menu layout-demo  forest-service">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>


<div class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="usa-grid usa-banner-inner">
      <img src="/fs-fork-uswds-site/assets/img/favicons/favicon-57.png" alt="U.S. flag">
      <p>An official website of the United States government</p>
      <button class="usa-accordion-button usa-banner-button"
        aria-expanded="false" aria-controls="gov-banner">
        <span class="usa-banner-button-text">Here's how you know</span>
      </button>
      </div>
    </header>
    <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
      <div class="usa-banner-guidance-gov usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/fs-fork-uswds-site/assets/img/icon-dot-gov.svg" alt="Dot gov">
        <div class="usa-media_block-body">
          <p>
            <strong>The .gov means it’s official.</strong>
            <br>
            Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you're on a federal government site.
          </p>
        </div>
      </div>
      <div class="usa-banner-guidance-ssl usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/fs-fork-uswds-site/assets/img/icon-https.svg" alt="Https">
        <div class="usa-media_block-body">
          <p>
            <strong>The site is secure.</strong>
            <br>
            The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>





<header class="usa-header usa-header-basic usa-header-basic-megamenu" role="banner">
  <div class="usa-nav-container">
    <div class="usa-navbar">
  <div class="usa-logo" id="basic-mega-logo">
    <em class="usa-logo-text">
      <a href="/"
        title="Home"
        aria-label="Home">
        Department of Web Design
      </a>
    </em>
  </div>
  <button class="usa-menu-btn">Menu</button>
</div>

    <nav role="navigation" class="usa-nav">
      <div class="usa-nav-inner">
      <button class="usa-nav-close">
  <img src="/fs-fork-uswds-site/assets/img/close.svg" alt="close">
</button>
<ul class="usa-nav-primary usa-accordion"><li><button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="basic-mega-nav-section-one">
      <span>Section title</span>
    </button>
    <ul id="basic-mega-nav-section-one" class="usa-nav-submenu usa-megamenu usa-grid-full"><div class="usa-megamenu-col"><li>
                <a href="#">Subsection title</a>
              </li><li>
                <a href="#">Subsection title</a>
              </li><li>
                <a href="#">Subsection title</a>
              </li></div><div class="usa-megamenu-col"><li>
                <a href="#">Subsection title longer</a>
              </li><li>
                <a href="#">A very long page title that goes onto two lines</a>
              </li><li>
                <a href="#">Subsection title</a>
              </li></div><div class="usa-megamenu-col"><li>
                <a href="#">Subsection title</a>
              </li><li>
                <a href="#">Subsection title</a>
              </li><li>
                <a href="#">Subsection title</a>
              </li></div></ul></li><li><button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="basic-mega-nav-section-two">
      <span>Simple terms</span>
    </button>
    <ul id="basic-mega-nav-section-two" class="usa-nav-submenu usa-megamenu usa-grid-full"><div class="usa-megamenu-col"><li>
                <a href="#">Subsection title</a>
              </li><li>
                <a href="#">Subsection title</a>
              </li><li>
                <a href="#">Subsection title</a>
              </li></div><div class="usa-megamenu-col"><li>
                <a href="#">Subsection title longer</a>
              </li><li>
                <a href="#">A very long page title that goes onto two lines</a>
              </li><li>
                <a href="#">Subsection title</a>
              </li></div><div class="usa-megamenu-col"><li>
                <a href="#">Subsection title</a>
              </li><li>
                <a href="#">Subsection title</a>
              </li><li>
                <a href="#">Subsection title</a>
              </li></div></ul></li><li><a class="usa-nav-link" href="javascript:void(0)">
      <span>Distinct from each other</span>
    </a></li></ul><form class="usa-search usa-search-small ">
  <div role="search">
    <label class="usa-sr-only" for="basic-mega-search-field-small">Search small</label>
    <input id="basic-mega-search-field-small" type="search" name="search">
    <button type="submit">
      <span class="usa-sr-only">Search</span>
    </button>
  </div>
</form>

      </div>
    </nav>
  </div>
</header>
<div class="usa-overlay"></div>



<main id="main-content"></main>



<footer class="demo-footer">
  <div class="demo-footer-content">
    <a class="usa-button usa-button-outline-inverse" href="/fs-fork-uswds-site/components/headers/#basic-mega-menu">Back to site</a>
    <p class="demo-footer-title">Basic header with mega menu</p>
  </div>
</footer>


    	<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
	<script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA"></script>

	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-48605964-43', 'gsa.gov');

	  // anonymize user IPs (chops off the last IP triplet)
	  ga('set', 'anonymizeIp', true);

	  // forces SSL even if the page were somehow loaded over http://
	  ga('set', 'forceSSL', true);

	  ga('send', 'pageview');
	</script>

<script src="/fs-fork-uswds-site/assets/js/styleguide.js"></script>

<script src="/fs-fork-uswds-site/assets/js/vendor/uswds.min.js"></script>

  </body>
</html>
